{% extends "base.html" %}
{% block title %}Sobre Mim{% endblock %}

{% block content %}
<section>
    <div class="profile-container">
        <img src="{{ url_for('static', filename='/images/profile.jpeg') }}" 
        alt="Foto profissional" 
        class="profile-image">
    </div>
</section>
<section>
    <h1 class="glow">Sobre Mim</h1>
    <p>Olá! Eu sou Pedro B.Castro, um desenvolvedor apaixonado por Python, Flask e Django.</p>
    <p>Tenho experiência em desenvolvimento web, desenvolvimento back-end e ciência de dados</p>
    <p>Sou um desenvolvedor disciplinado e autodidata, sou bacharel em Ciência da Computação e tenho experiência profissional como desenvolvedor e software tester</p>
    <p>Estou sempre em busca de novos desafios e oportunidades de aprendizado</p>
</section>

<section>
    <h1>Experiência Profissional</h1>
    <h3><strong>Estagiário de Testes</strong> - Network Medical</h3>
    <p><strong>Período:</strong> 09/2023-04/2024</p>
    <p><strong>Descrição:</strong> Teste de software, documentação de testes, automação de testes, testes de regressão, testes de integração, testes de unidade, testes caixa preta e testes caixa brancas</p>
    <p><strong>Tecnologias:</strong> Typescript, Playwright, Docker, Atlassian, Jira</p>
</section>

<section>
    <h1>Formação Acadêmica</h1>
    <h3><strong>Bacharel em Ciência da Computação</strong> - Centro Universitário de Brasília</h3>
    <p><strong>Período:</strong> 2021-2024</p>
</section>

<section>
    <h1>Certificações</h1>
    <h3><strong>Python 3 - Curso Completo do Básico ao Avançado</strong> - Udemy</h3>
    <p><strong>Período:</strong> 2022</p>
    <p><strong>Descrição:</strong> Curso de Python 3, com foco em desenvolvimento web, desenvolvimento back-end e ciência de dados</p>
    <p><strong>Tecnologias:</strong> Python, Flask, Django, Pandas, Numpy, Matplotlib</p>
    <p><strong>Link:</strong> <a href="https://www.udemy.com/certificate/UC-28b76d1a-3804-4b8a-a800-15b4921868fe/">https://www.udemy.com/certificate/UC-28b76d1a-3804-4b8a-a800-15b4921868fe/</a></p>

    <h3><strong>Java Completo 2023</strong> - Udemy</h3>
    <p><strong></strong>Período: 2023</p>
    <p><strong>Descrição:</strong> Curso de Java, com foco em desenvolvimento back-end</p>
    <p><strong>Tecnologias:</strong> Java, Spring Boot, JPA, Hibernate</p>
    <p><strong>Link:</strong> <a href="https://www.udemy.com/certificate/UC-acda619b-3db8-46ff-9609-e35436e01180/">https://www.udemy.com/certificate/UC-acda619b-3db8-46ff-9609-e35436e01180/</a></p>

    <h3><strong>Desenvolvimento Web com Python e Django</strong> - Udemy</h3>
    <p><strong>Período:</strong> 2023</p>
    <p><strong>Descrição:</strong> Curso de desenvolvimento web com Python e Django, com foco em desenvolvimento back-end e front-end.</p>
    <p><strong>Tecnologias:</strong> Python, Django, HTML, CSS, Javascript, Bootstrap</p>
    <p><strong>Link:</strong> <a href="https://www.udemy.com/certificate/UC-923ba074-682c-480c-a349-119a4824af6c/">https://www.udemy.com/certificate/UC-923ba074-682c-480c-a349-119a4824af6c/</a></p>

    <h3><strong>Python for Data Science</strong> - IBM</h3>
    <p><strong>Período:</strong> 2024</p>
    <p><strong>Descrição:</strong> Curso introdutório de Ciência de Dados com Python da IBM.</p>
    <p><strong>Tecnologias:</strong> Python, Pandas, Numpy, Matplotlib</p>
    <p><strong>Link:</strong> <a href="https://www.credly.com/badges/02728d64-8d05-48ed-bd77-854be0672574/public_url">https://www.credly.com/badges/02728d64-8d05-48ed-bd77-854be0672574/public_url</a></p>

    <h3><strong>Machine Learning with Python</strong> - IBM</h3>
    <p><strong>Período:</strong> 2024</p>
    <p><strong>Descrição:</strong> Curso introdutório de Machine Learning com Python da IBM.</p>
    <p><strong>Tecnologias:</strong> Python, Pandas, Numpy, Matplotlib, Scikit-learn</p>
    <p><strong>Link:</strong> <a href="https://www.credly.com/badges/c29df7dd-512a-4925-acd9-5a0b1d8dfef4/public_url">https://www.credly.com/badges/c29df7dd-512a-4925-acd9-5a0b1d8dfef4/public_url</a></p>

    <h3><strong>Data Visualization for Python</strong> - IBM</h3>
    <p><strong>Período:</strong> 2024</p>
    <p><strong>Descrição:</strong> Curso de Visualização de Dados com Python da IBM.</p>
    <p><strong>Tecnologias:</strong> Python, Pandas, Numpy, Matplotlib, Seaborn</p>
    <p><strong>Link:</strong> <a href="https://www.credly.com/badges/1c72f258-6cf4-4b9c-8a37-bb39223d33b5/public_url">https://www.credly.com/badges/1c72f258-6cf4-4b9c-8a37-bb39223d33b5/public_url</a></p>

    <h3><strong>Data Analysis using Python</strong> - IBM</h3>
    <p><strong>Período:</strong> 2024</p>
    <p><strong>Descrição:</strong> Curso de Análise de Dados com Python da IBM.</p>
    <p><strong>Tecnologias:</strong> Python, Pandas, Numpy, Matplotlib, Seaborn</p>
    <p><strong>Link:</strong> <a href="https://www.credly.com/badges/45900084-b11b-4747-baa2-e7384ba3a146/public_url">https://www.credly.com/badges/45900084-b11b-4747-baa2-e7384ba3a146/public_url</a></p>

    <h3><strong>Applied Data Science with Python</strong> - IBM</h3>
    <p><strong>Período:</strong> 2024</p>
    <p><strong>Descrição:</strong> Certificação de que concluí a trilha de aprendizado de Ciência de Dados aplicada da IBM</p>
    <p><strong>Tecnologias:</strong> Python, Pandas, Numpy, Matplotlib, Seaborn, Scikit-learn, Bokeh</p>
    <p><strong>Link:</strong> <a href="https://www.credly.com/badges/241e5390-2f47-4dac-8a67-22b588fe55cf/public_url">https://www.credly.com/badges/241e5390-2f47-4dac-8a67-22b588fe55cf/public_url</a></p>
</section>

<section>
    <h1>Idiomas</h1>
    <h3>Inglês</h3>
    <p><strong>Nível:</strong> Avançado</p>

    <h3>Alemão</h3>
    <p><strong>Nível:</strong> Básico</p>

    <h3>Português</h3>
    <p><strong>Nível:</strong> Nativo</p>
</section>
{% endblock %}