{% extends "base.html" %}

{% block content %}
    <section class="matrix-card">
        <h1 class="glow">Contato</h1>
        <p>Caso queira entrar em contato comigo, utilize um dos meios abaixo:</p>
        <div class="matrix-card">
            {% for item in contact %}
                <div>
                    <h3>{{ item.name }}</h3>
                    <p><strong>Link:</strong> <a href="{{ item.link }}">{{ item.link }}</a></p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}